[Unit]
Description=Prometheus exporter for machine metrics

[Service]
Restart=on-failure
EnvironmentFile=-~/.config/montoring/node-exporter.env
ExecStart=/usr/bin/prometheus-node-exporter $NODE_EXPORTER_ARGS
ExecReload=/bin/kill -HUP $MAINPID
