#!/bin/sh

{{ .aurHelper }} -Syu
if [ $IN_DOCKER ]; then
  {{ .aurHelper }} -S --needed {{ .dockerPackages | join " " }} --noconfirm
else
  {{ .aurHelper }} -S --needed {{ .packages | join " " }} --noconfirm
fi
