edit:
  watch: true
git:
  autoadd: true
  # autocommit: true
  # autopush: true

merge:
  command: nvim
  args:
    - -d
    - "{{ "{{" }} .Destination {{ "}}" }}"
    - "{{ "{{" }} .Source {{ "}}" }}"
    - "{{ "{{" }} .Target {{ "}}" }}"
# vi: ft=yaml
