[submodule "i3lock-color"]
	path = i3lock-color
	url = git@github.com:LoricAndre/i3lock-color.git
[submodule "bin/src/river"]
	path = bin/src/river
	url = git@github.com:ifreund/river.git
[submodule "bin/src/wtftw"]
	path = bin/src/wtftw
	url = git@github.com:Kintaro/wtftw.git
[submodule "bin/src/leftwm"]
	path = bin/src/leftwm
	url = git@github.com:leftwm/leftwm.git
[submodule "deps/eclipse.jdt.ls"]
	path = deps/eclipse.jdt.ls
	url = git@github.com:eclipse/eclipse.jdt.ls.git
[submodule "deps/java-debug"]
	path = deps/java-debug
	url = git@github.com:microsoft/java-debug.git
[submodule "bin/src/lua-language-server"]
	path = bin/src/lua-language-server
	url = https://github.com/sumneko/lua-language-server
[submodule "bin/src/z"]
	path = bin/src/z
	url = git@github.com:rupa/z.git
[submodule "deps/java-language-server"]
	path = deps/java-language-server
	url = git@github.com:georgewfraser/java-language-server.git
