[submodule "i3lock-color"]
	path = i3lock-color
	url = git@github.com:LoricAndre/i3lock-color.git
[submodule "bin/src/lule"]
	path = bin/src/lule
	url = git@github.com:warpwm/lule.git
[submodule "deps/base16"]
	path = deps/base16
	url = git@github.com:kdrag0n/base16-termux.git
[submodule "bin/src/st"]
	path = bin/src/st
	url = git@github.com:LoricAndre/st.git
