// vim:ft=scss

{{- $colors := get .colors .theme }}

$foreground: #{{ get $colors "7" }};
$background: #{{ get $colors "0" }};


// black
$color0: #{{ get $colors "0" }};
$color8: #{{ get $colors "8" }};

// red
$color1: #{{ get $colors "1" }};
$color9: #{{ get $colors "9" }};

// green
$color2: #{{ get $colors "2" }};
$color10: #{{ get $colors "10" }};

// yellow
$color3: #{{ get $colors "3" }};
$color11: #{{ get $colors "11" }};

// blue
$color4: #{{ get $colors "4" }};
$color12: #{{ get $colors "12" }};

// magenta
$color5: #{{ get $colors "5" }};
$color13: #{{ get $colors "13" }};

// cyan
$color6: #{{ get $colors "6" }};
$color14: #{{ get $colors "14" }};

// white
$color7: #{{ get $colors "7" }};
$color15: #{{ get $colors "15" }};
