.time{
	background-color: $background;
	color: $foreground;
	margin: .5rem;
	padding: 1.0rem 8.6rem 1.0rem 8.6rem;
	border-radius: 12px;
}
.hour, .min, .separator-clock{
	padding: 1rem 0 0 0;
	font-family: monospace;
	font-weight: bold;
	font-size: 1.9em;
}
.separator-clock{
	margin-top: -5px;
}
.day{
	padding: .5rem;
	font-family: monospace;
	font-size: 1.0em;
}
