: #cad3f5;
: #24273a;


// black
24273a: #24273a;
1e2030: #1e2030;

// red
ed8796: #ed8796;
f5a97f: #f5a97f;

// green
a6da95: #a6da95;
363a4f: #363a4f;

// yellow
eed49f: #eed49f;
f4dbd6: #f4dbd6;

// blue
8aadf4: #8aadf4;
5b6078: #5b6078;

// magenta
b7bdf8: #b7bdf8;
c6a0f6: #c6a0f6;

// cyan
8bd5ca: #8bd5ca;
494d64: #494d64;

// white
cad3f5: #cad3f5;
f0c6c6: #f0c6c6;
