* {
    font-family: mono;
    font-size: 13px;
}

window#waybar {
    background-color: #{{background}};
    color: #{{foreground}};
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: #{{foreground}};
    background-color: #{{background}};
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #{{color4}};
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tags button {
    background-color: #988BA2;
    color: #D9E0EE;
    border: none;
    border-radius: 0;
    padding: 5;
    margin: 0;
    transition-property: background-color;
    transition-duration: .5s;
}
#tags button.focused {
    background-color: #{{color9}};
}

#network.disconnected {
    background-color: #{{color4}};
}


#pulseaudio.muted {
    background-color: #{{color4}};
}

#temperature.critical {
    background-color: #{{color4}};
}

#tray {
    background-color: #{{background}};
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #{{color4}};
}
