[Unit]
Description=Filen Sync Service

[Service]
WorkingDirectory=$HOME
ExecStart=/sbin/filen-cli sync --continuous

[Install]
WantedBy=default.target
