# vim:ft=lua
local colorscheme = "{{ .theme }}"


local repos = {
  nordfox = "EdenEast/nightfox.nvim",
  dracula = "Mofiqul/dracula.nvim",
  ["catppuccin-mocha"] = "catppuccin/nvim",
  ["catppuccin-macchiato"] = "catppuccin/nvim",
}

local spec = {
  repos[colorscheme],
  name = colorscheme,
  config = function ()
    vim.cmd("colorscheme " .. colorscheme)
  end
}

return spec
