{{- $colors := get .colors .theme }}

* {
  all: unset;
  font-size: {{ .font.size }};
  font-family: "{{ .font.family }}";
  transition: 200ms;
}

trough highlight {
  background: #{{- get $colors "7" }};
}

scale trough {
  margin: 0rem 1rem;
  background-color: #{{- get $colors "10" }};
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: #{{- get $colors "4" }};
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #{{- get $colors "10" }};
  border-radius: 12.6px;
  margin: 18px;
  background-color: #{{- get $colors "0" }};
  color: #{{- get $colors "7" }};
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #{{- get $colors "1" }};
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: #{{- get $colors "7" }};
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: #{{- get $colors "7" }};
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: #{{- get $colors "7" }};
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: #{{- get $colors "7" }};
  background-color: #{{- get $colors "10" }};
  box-shadow: inset 0 0 0 1px #{{- get $colors "14" }};
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px #{{- get $colors "14" }};
  background-color: #{{- get $colors "10" }};
  color: #{{- get $colors "7" }};
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px #{{- get $colors "14" }};
  background-color: #{{- get $colors "6" }};
  color: #{{- get $colors "7" }};
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #{{- get $colors "0" }};
  background-color: #{{- get $colors "1" }};
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: #{{- get $colors "15" }};
  color: #{{- get $colors "0" }};
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: #{{- get $colors "1" }};
  color: #{{- get $colors "0" }};
}

.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #{{- get $colors "10" }};
  border-radius: 12.6px;
  margin: 18px;
  background-color: #{{- get $colors "0" }};
  color: #{{- get $colors "7" }};
  padding: 14px;
}

.control-center .widget-title > label {
  color: #{{- get $colors "7" }};
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: #{{- get $colors "7" }};
  background-color: #{{- get $colors "10" }};
  box-shadow: inset 0 0 0 1px #{{- get $colors "14" }};
  padding: 8px;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px #{{- get $colors "14" }};
  background-color: #{{- get $colors "12" }};
  color: #{{- get $colors "7" }};
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px #{{- get $colors "14" }};
  background-color: #{{- get $colors "4" }};
  color: #{{- get $colors "0" }};
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  color: #{{- get $colors "7" }};
  background-color: #{{- get $colors "10" }};
  box-shadow: inset 0 0 0 1px #{{- get $colors "14" }};
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}

.control-center .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #{{- get $colors "1" }};
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: #{{- get $colors "7" }};
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: #{{- get $colors "7" }};
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: #{{- get $colors "7" }};
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: #{{- get $colors "7" }};
  background-color: #{{- get $colors "8" }};
  box-shadow: inset 0 0 0 1px #{{- get $colors "14" }};
  margin: 7px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px #{{- get $colors "14" }};
  background-color: #{{- get $colors "10" }};
  color: #{{- get $colors "7" }};
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px #{{- get $colors "14" }};
  background-color: #{{- get $colors "4" }};
  color: #{{- get $colors "7" }};
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #{{- get $colors "0" }};
  background-color: #{{- get $colors "15" }};
}

.close-button {
  border-radius: 6.3px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: #{{- get $colors "1" }};
  color: #{{- get $colors "0" }};
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: #{{- get $colors "1" }};
  color: #{{- get $colors "0" }};
}

.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 1px #{{- get $colors "14" }};
  background-color: #{{- get $colors "12" }};
  color: #{{- get $colors "7" }};
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px #{{- get $colors "14" }};
  background-color: #{{- get $colors "4" }};
  color: #{{- get $colors "7" }};
}

.notification.critical progress {
  background-color: #{{- get $colors "1" }};
}

.notification.low progress,
.notification.normal progress {
  background-color: #{{- get $colors "4" }};
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: #{{- get $colors "10" }};
  border: 1px solid #{{- get $colors "14" }};
  box-shadow: none;
}

.control-center-dnd:checked {
  background: #{{- get $colors "10" }};
}

.control-center-dnd slider {
  background: #{{- get $colors "14" }};
  border-radius: 8px;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: #{{- get $colors "10" }};
  border: 1px solid #{{- get $colors "14" }};
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: #{{- get $colors "10" }};
}

.widget-dnd > switch slider {
  background: #{{- get $colors "14" }};
  border-radius: 8px;
  border: 1px solid #{{- get $colors "7" }};
}

.widget-mpris .widget-mpris-player {
  background: #{{- get $colors "10" }};
  padding: 7px;
}

.widget-mpris .widget-mpris-title {
  font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: #{{- get $colors "1" }};
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #{{- get $colors "10" }};
}

.control-center .widget-label > label {
  color: #{{- get $colors "7" }};
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: #{{- get $colors "4" }};
}

.widget-volume trough highlight {
  background: #{{- get $colors "4" }};
}

.widget-backlight trough highlight {
  background: #{{- get $colors "3" }};
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #{{- get $colors "3" }};
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}

.toggle {
  font-size: 8pt;
}

.toggle:checked {
  border: 1px solid #{{- get $colors "5" }};
  border-radius: 6px;
}
