{{- $colors := get .colors .theme }}

[global]
frame_color = "#{{- get $colors "5" }}"
separator_color = frame
follow = mouse
mouse_left_click = "do_action, close_current"
corner_radius = 4

[urgency_low]
background = "#{{- get $colors "0" }}"
foreground = "#{{- get $colors "7" }}"

[urgency_normal]
background = "#{{- get $colors "0" }}"
foreground = "#{{- get $colors "7" }}"

[urgency_critical]
background = "#{{- get $colors "0" }}"
foreground = "#{{- get $colors "7" }}"
frame_color = "#{{- get $colors "1" }}"
