Config(
  ignored: [
    ".git/",
    ".venv",
    "node-modules"
  ], // A list of patterns to be ignored in all directories
  directories: [
    WatchDir(
      path: "/home/loric/files", // The root folder to be indexed
      recurse: true, // Recursively index and watch all subfolders
      ignored: [], // Ignore patterns specifically for this directory
    ),
  ],
)