[Default Applications]
x-scheme-handler/http={{ .browser }}.desktop
x-scheme-handler/https={{ .browser }}.desktop

[Added Associations]
x-scheme-handler/http={{ .browser }}.desktop;
x-scheme-handler/https={{ .browser }}.desktop;
